.banner-bannerwrapper {
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 0;
}
.banneroverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2347;
  opacity: 0.5;
  z-index: -1;
}
.banner-innerwrapper {
  z-index: 100;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-innerwrapper .newsbanner-h1 {
  width: 50%;
}
.banner-innerwrapper .newsbanner-p {
  width: 60%;
}
.newsbanner-h1,
.newsbanner-p {
  color: white;
}
.newsbanner-p {
  margin: 15px 0;
}
// About us banner
.banner-innerwrapper .aboutus-h2,
.banner-innerwrapper .aboutus-h1 {
  color: white;
}
.banner-innerwrapper .aboutus-h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0;
}
.banner-innerwrapper .aboutus-h1 {
  width: 70%;
}
