@media screen and (max-width: 1500px) {
  .halfdiv {
    width: 70%;
  }
  .startiframe {
    top: 40%;
  }
  .topNav-links ul li {
    margin-left: 40px;
  }
  .topNav-links ul li a {
    font-size: 22px;
  }
  .intro-image {
    height: 500px;
  }
  .quoteimage img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .topHeader {
    text-align: right;
  }
  .burgermenu {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
  }
  .topNav-links {
    display: none;
  }
  #toggle {
    display: none;
  }
  #toggle:checked + .topNav-links {
    display: block;
  }
  // Styling af selve menuen efter det er mobil
  .topNav-links {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
  }
  .topNav-links ul {
    flex-direction: column;
  }
  .topNav-links ul li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.431);
  }

  .topNav-links ul li a {
    font-size: 20px;
  }
  // Mere responsive ting. Frontpage
  .halfdiv {
    width: 90%;
  }
  .frontpage-underheader-item {
    width: 31%;
  }
  .smoothtool-quickinfo-item.item-header {
    width: 20%;
  }
  .smoothtool-quickinfo-item {
    width: 34%;
  }
  .frontpage-info-aboutus {
    flex-direction: column;
  }
  .info-aboutus-row1 {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    padding-right: 0;
  }
  .info-aboutus-row2 {
    width: 100%;
  }
  .numbers-article-item {
    width: 33%;
  }
  // About us
  .aboutuswrapper {
    width: 90%;
  }
  .aboutus-h1 {
    font-size: 50px;
    width: 100%;
  }
  .aboutus-intro-wrapper {
    padding: 50px 0;
  }
  .aboutus-intro-wrapper .intro-content {
    width: 100%;
  }
  .intro-content::after {
    width: 15%;
  }
  .intro-image {
    display: none;
  }
  .ourstorywrapper {
    top: -10px;
    flex-direction: column;
  }
  .quote h2 {
    width: 100%;
  }
  .ourstory-maininfo::after {
    display: none;
  }
  .ourstory-maininfo {
    width: 100%;
    padding-right: 0;
  }
  .ourstory-subinfo {
    width: 100%;
    padding: 0;
  }
  .teammembers-wrapper::after {
    display: none;
  }
  .teammembers-header {
    top: 20px;
  }
  .sendtocontact {
    text-align: center;
  }
  .sendtocontact::after,
  .ourstorywrapper::after {
    left: -5vw;
  }
  // Cases
  .archive-Item.cases-Item {
    flex-direction: column;
  }
  .cases-banner {
    width: 100%;
    height: 300px;
  }
  .cases-content {
    width: 100%;
  }
  // Footer
  .footernav {
    width: 80%;
  }
}

// Tablet og mindre web
@media only screen and(max-width: 1000px) {
  // Footer
  .footernav {
    display: none;
  }
  .socials {
    margin-bottom: 20px;
  }
  // DET ER VIGTIGT AT VI ÆNDRER WIDTH TIL 90%
  // Nav
  .topHeader {
    padding: 0 5%;
  }
  .burgermenu {
    right: 5%;
  }
  .banner-innerwrapper {
    width: 90%;
  }
  // Frontpage
  .innerbanner-text {
    display: none;
  }
  .frontbanner-wrapper {
    height: 70vh;
  }
  .innerfrontbanner-wrapper {
    width: 90%;
  }
  .innerbanner-header {
    width: 100%;
    margin: 0;
  }
  .innerbanner-header h1 {
    font-size: 55px;
  }
  .innerbanner-header h2 {
    font-size: 35px;
  }
  // Underheader
  .frontpage-underheader-wrapper {
    top: 20px;
    flex-direction: column;
    width: 90%;
  }
  .frontpage-underheader-item {
    width: 100%;
  }
  .underheader-item-banner {
    height: 300px;
  }
  // Smoothtool quick info -> Display none
  .smoothtool-quickinfo-wrapper {
    display: none;
  }
  // Process section
  .smoothtool-maincontent {
    padding: 70px 5%;
  }
  .smoothtool-process-wrapper {
    flex-direction: column;
  }
  .smoothtool-process-item {
    width: 100%;
    padding-bottom: 70px;
    margin-bottom: 40px;
  }
  .arrowright-wrapper {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
  }
  .arrowright-wrapper i {
    transform: rotate(90deg);
  }
  // Section info about  us
  .frontpage-info-aboutus {
    width: 90%;
  }
  // Section numbers
  .section-numbers {
    width: 90%;
  }
  // Partners
  .section-partners-wrapper {
    width: 90%;
  }
  // Bannere
  .banner-innerwrapper {
    width: 90%;
  }
  .archive-itemwrapper {
    width: 90%;
  }
  // archive
  .archive-navigate-nextpage {
    width: 90%;
  }
  // Archive-news
  .banner-innerwrapper .newsbanner-h1 {
    width: 100%;
  }
  .banner-innerwrapper .newsbanner-p {
    width: 90%;
  }
  // Footer
  .footerwrapper-content {
    width: 90%;
  }
  // Distributør
  .distributors-wrapper {
    width: 100%;
    padding-top: 110px;
  }
  .content_distributors h2:first-of-type,
  .content_distributors h3 {
    display: none;
  }
  #wpsl-search-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }
  #wpsl-search-wrap .customdisplay {
    padding: 0;
  }
  #wpsl-search-wrap .customdisplay div {
    margin: 10px 0;
    padding: 0;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap #wpsl-radius,
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap #wpsl-results {
    display: flex;
    flex-direction: column;
    align-items: centeR;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #wpsl-stores.custom-stores {
    max-height: 1000px !important;
  }
  .customlayout_ul {
    padding: 20px 5% !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    grid-auto-rows: minmax(auto, auto) !important;
    grid-gap: 0px !important;
  }
  .wpsl-store-location {
    font-size: 13px !important;
  }
  // Contact us
  .contact-wrapper {
    width: 90%;
  }
  h2.contactinfo {
    width: 75%;
    font-size: 35px;
  }
  // About us
  .aboutuswrapper {
    width: 90%;
  }
  // Cases
  .archive-cases-banner {
    height: 350px;
  }
  // Single news
  .single-banner {
    height: 250px;
  }
  .singlepage-wrapper {
    width: 90%;
    flex-direction: column;
    padding-top: 40px;
  }
  .singlepage-maincontent {
    border-right: 0px;
    padding: 0;
  }
  .singlepage-maincontent h1 {
    word-break: break-all;
  }
  .aside-subscribenews {
    width: 90%;
    margin-top: 50px;
  }
}
// Not tablet / web and not mobile
// Kinda in between stuff
// Mostly will make it all the way down to mobile
@media only screen and(max-width: 800px) {
  .contact-wrapper {
    padding: 50px 0;
  }
  .contact-info {
    display: none;
  }
  .contact-form {
    width: 100%;
  }
  .newsbanner-h1 {
    font-size: 35px;
  }
  .banner-innercontact {
    flex-direction: column;
  }
  .banner-innercontact div {
    margin: 5px 0;
  }
}
// Mobile
@media only screen and (max-width: 600px) {
  // Nav
  .topNav-links ul li {
    padding: 5px 0;
  }
  // Archive-news
  .banner-bannerwrapper {
    height: 250px;
  }
  .banner-innerwrapper .newsbanner-h1 {
    font-size: 30px;
  }
  .banner-innerwrapper .newsbanner-p {
    width: 100%;
    font-size: 20px;
  }
  .archive-itemwrapper.archive-news {
    grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    grid-gap: 45px;
  }
  .archive-item-header {
    font-size: 16px;
  }
  .archive-itemcontent {
    font-size: 16px;
  }
  .archive-item-link {
    font-size: 16px;
  }
  .archive-itembanner {
    height: 150px;
  }
  // Distributors
  .custombg {
    position: relative;
    width: 100%;
    height: auto;
  }
  .customcanvas-header h2 {
    display: block !important;
  }
  .customcanvas {
    width: 100% !important;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap {
    flex-direction: row;
    justify-content: center;
  }
  .customlayout_ul {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
  // Contact
  .contact-banner .newsbanner-p {
    font-size: 16px;
  }
  .contact-banner .banner-innercontact {
    margin: 0;
  }
  .contact-banner .banner-innercontact div i,
  .contact-banner .banner-innercontact div p {
    font-size: 16px;
  }
  // About us
  .aboutuswrapper h2 {
    font-size: 50px;
  }
  .banner-innerwrapper .aboutus-h1 {
    font-size: 30px;
    width: 100%;
  }
  .intro-content h2 {
    width: 100%;
  }
  .sendtocontact h2 {
    font-size: 25px;
  }
  .sendtocontact p {
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .sendtocontact .std-button {
    margin-top: 0;
  }
  // Single
  .singlepage-maincontent h1 {
    font-size: 30px;
  }

  // Footer
  .footerwrapper-content {
    width: 100%;
  }
  .socials {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .socials a {
    margin: 0 5px !important;
  }
}
// Smaller stuff
@media screen and (max-width: 400px) {
  .contact-banner .newsbanner-p {
    display: none;
  }
  .std-button {
    padding: 15px 40px;
    font-size: 16px;
  }
}
