@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./_links";
$header-name-size: 90px;
$standard-size-h1: 40px;
$primary-text-color: white;
$secondary-text-color: #707070;
$secondary-main-color: #2f73ae;
$standard-size-p: 24px;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
span,
button {
  font-family: "Roboto", sans-serif;
}
p {
  color: $secondary-text-color;
}
h2 {
  color: $primary-text-color;
  font-size: $standard-size-h1;
  font-weight: bold;
}
h1 {
  color: $primary-text-color;
}
h1.headername {
  font-size: $header-name-size;
  font-weight: bold;
  line-height: 70%;
  margin-bottom: 40px;
}
h2.header-bg-h1 {
  font-size: 120px;
  opacity: 0.1;
  font-weight: bold;
}
h2.process-bg-text {
  font-size: 135px;
  font-weight: bold;
  opacity: 0.2;
}
h3 {
  font-size: 27px;
  font-weight: bold;
  color: white;
}
.header-dot {
  font-size: 163px;
  font-weight: bold;
  color: $primary-text-color;
}
.header-dot.blue {
  opacity: 1;
  color: $secondary-main-color;
}
p {
  font-size: $standard-size-p;
  font-weight: normal;
}
.skills-h3 {
  font-size: 20px;
  font-weight: bold;
  color: $secondary-main-color;
}
