@import "buttons";
$font-family: Arial;
$h1-size: 70px;
$h2-large: 50px;
$h2-size: 40px;
$h3-size: 25px;
$p-large: 22px;
$p-size: 18px;
$nav-size: 25px;
$primary-color: #1b2347;
$secondary-color: #d97e3f;
h1,
h2,
h3,
p,
a,
li,
span,
button,
textarea,
option,
label,
div {
  font-family: $font-family;
}
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
p {
  font-size: $p-size;
}
li a {
  color: $primary-color;
  font-size: $nav-size;
}
h2.contactinfo {
  color: $primary-color;
  font-size: $h2-large;
}
.intro-content h2,
.sendtocontact h2,
.quote h2,
.ourstory-maininfo h2,
.teammembers-header h2 {
  font-size: $h2-large;
}
