body {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.std-button {
  margin-top: 50px;
  color: white;
  max-width: 350px;
  padding: 20px 60px;
  font-size: 20px;
  background-color: #d97e3f;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}

.std-button:active,
.std-button:focus {
  outline: none;
}

.std-button:hover {
  background-color: #1b2347;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

h1,
h2,
h3,
p,
a,
li,
span,
button,
textarea,
option,
label,
div {
  font-family: Arial;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

li a {
  color: #1b2347;
  font-size: 25px;
}

h2.contactinfo {
  color: #1b2347;
  font-size: 60px;
}

.topHeader {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
  height: 110px;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.burgermenu {
  display: none;
}

#toggle {
  display: none;
}

.topNav-links {
  max-height: 80vh;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.topNav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNav-logo {
  padding-top: 8px;
  height: 110px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.topNav-logo img {
  height: 90%;
  max-width: 100%;
}

.topNav-links ul li {
  margin-left: 61px;
}

.topNav-links ul li a {
  padding: 1px 0;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.topNav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 2px;
  left: 0;
  background-color: #d97e3f;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.topNav-links ul li a:hover::after {
  width: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.banner-bannerwrapper {
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banneroverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2347;
  opacity: 0.5;
  z-index: -1;
}

.banner-innerwrapper {
  z-index: 100;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-innerwrapper .newsbanner-h1 {
  width: 50%;
}

.banner-innerwrapper .newsbanner-p {
  width: 60%;
}

.newsbanner-h1,
.newsbanner-p {
  color: white;
}

.newsbanner-p {
  margin: 15px 0;
}

.banner-innerwrapper .aboutus-h2,
.banner-innerwrapper .aboutus-h1 {
  color: white;
}

.banner-innerwrapper .aboutus-h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0;
}

.banner-innerwrapper .aboutus-h1 {
  width: 70%;
}

.single-banner {
  top: 110px;
}

.wrapper {
  padding-top: 110px;
}

.modalvideo-wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding: 50px 50px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: rgba(51, 51, 51, 0.698);
}

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modalcontent-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1b2347;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.modalcontent-wrapper iframe {
  width: 100%;
  height: 100%;
}

.closemodal {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

.frontbanner-wrapper {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.videowrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videowrapper.filterblue {
  background-color: #1b2347;
}

.videowrapper video {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
}

.innerfrontbanner-wrapper {
  z-index: 100;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10% 0;
  position: relative;
}

.halfdiv {
  width: 50%;
}

.startiframe {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.startiframe i {
  font-size: 120px;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.startiframe:hover > i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.innerbanner-header {
  position: relative;
  padding: 10px 0;
  margin-bottom: 20px;
}

.innerbanner-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #d97e3f;
}

.innerbanner-header h1 {
  color: white;
}

.innerbanner-header h2 {
  color: white;
  font-size: 50px;
}

.innerbanner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.innerbanner-text p {
  padding-right: 70px;
  font-size: 25px;
  color: white;
}

.frontpage-underheader-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frontpage-underheader-item {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
}

.underheader-item-banner {
  width: 100%;
  height: 200px;
  background-color: #1b2347;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.underheader-item-content {
  padding: 25px 25px;
}

.underheader-item-content p strong,
.underheader-item-content h3 {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 10px;
}

.underheader-item-content p {
  font-size: 25px;
}

.underheader-item-content a {
  color: #d97e3f;
  text-decoration: none;
}

.section-breaker {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.thebreaker {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #707070;
  border-radius: 15px;
  opacity: 0.3;
}

.smoothtool-quickinfo-wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.smoothtool-quickinfo-item {
  width: 28%;
}

.smoothtool-quickinfo-item h3 {
  font-size: 30px;
  font-weight: 300;
}

.item-header {
  padding: 10px 0;
  position: relative;
}

.item-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #d97e3f;
}

.smoothtool-maincontent {
  width: 100%;
  padding: 70px 10%;
  margin: 0 auto;
  background-color: #1b2347;
}

.smoothtool-maincontent-banner {
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.maincontent-banner-header {
  position: relative;
  padding: 10px 0;
}

.maincontent-banner-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 3px;
  background-color: #d97e3f;
}

.maincontent-banner-header h2 {
  color: white;
}

.smoothtool-process-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smoothtool-process-item {
  position: relative;
  width: 18%;
  color: white;
}

.smoothtool-process-item p strong {
  font-size: 35px;
}

.arrowright-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.arrowright-wrapper i {
  font-size: 40px;
  color: #d97e3f;
}

.arrowright-wrapper.last i {
  display: none;
}

.frontpage-info-aboutus {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-aboutus-row1 {
  padding: 10px 0;
  padding-right: 80px;
  width: 30%;
  position: relative;
}

.info-aboutus-row1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 3px;
  background-color: #d97e3f;
}

.info-aboutus-row2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-aboutus-item {
  width: 50%;
  margin-bottom: 80px;
  padding-right: 40px;
  padding-left: 50px;
  position: relative;
}

.info-aboutus-item h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.info-aboutus-circle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #1b2347;
  border-radius: 50%;
}

.section-numbers {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers-article-item {
  width: 28%;
  height: 280px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.section-breaker.second {
  padding: 100px 0;
}

.section-partners-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 10px;
  position: relative;
}

.section-partners-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 3px;
  background-color: #d97e3f;
}

.partners-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.partners-wrapper img {
  max-width: 100%;
}

.main-wrapper {
  padding-top: 110px;
}

.archive-itemwrapper {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
  grid-auto-rows: minmax(450px, auto);
  grid-gap: 75px;
}

.archive-Item.news-Item {
  background-color: #f7f7f7;
}

.archive-itembanner {
  height: 215px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.archive-itemcontent {
  padding: 25px;
  word-break: normal;
  overflow: hidden;
  max-height: 350px;
}

.archive-itemcontent .archive-item-header {
  font-size: 25px;
  font-style: italic;
  margin: 10px 0px;
}

.archive-item-link {
  color: #d97e3f;
  font-size: 25px;
  font-weight: bold;
}

.archive-item-permalink {
  margin: 30px 0px;
}

.archive-navigate-nextpage {
  padding: 15px 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.archive-navigate-nextpage span {
  width: 50px;
  height: 50px;
  background-color: #1b2347;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive-navigate-nextpage a {
  text-decoration: none;
  font-size: 23px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  color: #1b2347;
  border: 1px solid #1b2347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.archive-navigate-nextpage a.next {
  margin: 0;
  width: 90px;
  height: 50px;
  background-color: white;
  border: 1px solid #1b2347;
  border-radius: 5px;
  color: #1b2347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive-navigate-nextpage a.prev {
  margin: 0;
  width: 130px;
  height: 50px;
  background-color: white;
  border: 1px solid #1b2347;
  border-radius: 5px;
  color: #1b2347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive-cases {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
  -ms-grid-rows: (minmax(400px, auto))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(400px, auto));
  grid-gap: 100px;
}

.cases-Item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cases-banner {
  width: 49%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cases-content {
  padding: 5px;
  width: 49%;
  background: none;
  word-break: normal;
  overflow: visible;
  height: 100%;
  max-height: 100%;
}

.cases-content h3.archive-item-header {
  color: #1b2347;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}

.casebreaker {
  width: 80%;
  margin: 75px auto;
  height: 1px;
  background-color: #1b234777;
}

.singlepage-wrapper {
  position: relative;
  width: 80%;
  top: 110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 200px;
}

.singlepage-maincontent {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-right: 1px solid #c2c2c2;
  padding-right: 50px;
  padding-top: 70px;
}

.singlepage-maincontent p {
  color: #1b2347;
  font-size: 20px;
}

.singlepage-maincontent h1 {
  color: #1b2347;
  position: relative;
  margin-bottom: 30px;
}

.singlepage-maincontent h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 3px;
  background-color: #d97e3f;
}

.singlepage-aside {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 70px;
}

.aside-socials {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
  border-top: 1px solid #1b2347;
  border-bottom: 1px solid #1b2347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aside-socials a {
  text-decoration: none;
  font-size: 70px;
}

.aside-socials a i {
  text-decoration: none;
  color: #1b2347;
}

.aside-subscribenews {
  width: 80%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-subscribenews h2 {
  font-size: 50px;
  color: #1b2347;
  margin-bottom: 20px;
}

.aside-subscribenews label,
.aside-subscribenews input::-webkit-input-placeholder,
.aside-subscribenews input {
  font-size: 25px;
  color: #1b2347;
}

.aside-subscribenews label,
.aside-subscribenews input:-ms-input-placeholder,
.aside-subscribenews input {
  font-size: 25px;
  color: #1b2347;
}

.aside-subscribenews label,
.aside-subscribenews input::-ms-input-placeholder,
.aside-subscribenews input {
  font-size: 25px;
  color: #1b2347;
}

.aside-subscribenews label,
.aside-subscribenews input::placeholder,
.aside-subscribenews input {
  font-size: 25px;
  color: #1b2347;
}

.aside-subscribenews input {
  padding: 5px 5px;
  border-radius: 9px;
  background: transparent;
  border: 1px solid #1b2347;
  margin: 10px 0;
}

.aside-subscribenews input.checkboxaccept {
  margin-right: 10px;
}

.distributors-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  padding-top: 210px;
}

.content_distributors h2 {
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}

.content_distributors h3 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}

.custombg {
  background: #1b2347 !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  height: 500px;
  width: 35%;
  margin: 0;
}

#wpsl-stores.custom-stores {
  height: 1000px !important;
  overflow-y: auto;
}

#wpsl-search-wrap .customdisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10%;
}

#wpsl-search-wrap .customdisplay .customcanvas-header {
  margin: 0;
}

#wpsl-search-wrap .customdisplay .customcanvas-header h2 {
  font-size: 40px;
}

#wpsl-search-wrap .customdisplay .wpsl-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wpsl-search-wrap .customdisplay .wpsl-input input {
  width: 80%;
}

#wpsl-search-btn.custombtn {
  padding: 15px 80px;
  background: transparent;
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#wpsl-search-btn.custombtn:hover {
  padding: 15px 80px;
  background: #d97e3f;
  color: #1b2347;
  border: 1px solid white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.customcanvas {
  width: 65% !important;
}

.customcanvas-header h2 {
  color: white;
  margin-bottom: 10px;
}

.customlayout_ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 75px;
  padding: 20px 0 !important;
}

.customlayout_ul li {
  margin-bottom: 20px !important;
  padding-top: 0 !important;
  padding-left: 25px !important;
  position: relative !important;
}

.customlayout_ul li::after {
  content: "";
  position: absolute;
  top: 1.5px !important;
  left: 0 !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #1b2347 !important;
}

.customlayout_ul li p {
  color: #1b2347;
  font-size: 15px;
}

.customlayout_ul li p span {
  opacity: 0.7;
}

.customlayout_ul li p.wpsl-contact-details span {
  opacity: 1;
}

.customlayout_ul li p.wpsl-contact-details span a {
  font-size: 15px;
}

.customlayout_ul li .wpsl-direction-wrap,
.customlayout_ul li .wpsl-direction-wrap a {
  font-size: 15px;
  color: #1b2347;
}

.banner-innercontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.banner-innercontactsocialitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-innercontactsocialitem p {
  width: 100%;
  color: white;
  margin-right: 25px;
  font-weight: bold;
}

.banner-innercontactsocialitem i {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.contact-wrapper {
  width: 80%;
  padding: 200px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  width: 50%;
}

.contact-form {
  width: 50%;
}

h2.contactinfo {
  padding-top: 15px;
  width: 80%;
  position: relative;
}

h2.contactinfo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 5px;
  background-color: #d97e3f;
}

.std-label {
  width: 100%;
  font-size: 20px;
  padding: 5px 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #707070;
}

.std-label-no-border,
.wpcf7-list-item-label {
  width: 100%;
  font-size: 20px;
  padding: 5px 2px;
  margin-bottom: 10px;
  color: #1b2347;
  font-size: 20px;
}

.std-label:active {
  outline: 0;
}

.std-label:focus {
  outline: 0;
}

.std-label::-webkit-input-placeholder {
  color: #1b2347;
  font-size: 20px;
}

.std-label:-ms-input-placeholder {
  color: #1b2347;
  font-size: 20px;
}

.std-label::-ms-input-placeholder {
  color: #1b2347;
  font-size: 20px;
}

.std-label::placeholder {
  color: #1b2347;
  font-size: 20px;
}

.std-text-area {
  margin-top: 5px;
  border: 1px solid #707070;
  width: 100%;
  resize: vertical;
  padding: 5px 2px;
  font-size: 16px;
}

.std-text-area:focus {
  outline: none;
}

.std-text-area:active {
  outline: none;
}

input[type="checkbox"] {
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.std-checkbox .wpcf7-list-item {
  margin: 0;
}

.wpcf7-response-output {
  border: 0;
  font-size: 20px;
  color: #1b2347;
}

.main-wrapper {
  max-width: 100%;
  width: 100%;
}

.aboutuswrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}

.aboutus-intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0;
}

.aboutus-intro-wrapper article {
  width: 50%;
}

.intro-content {
  padding: 5px 0;
  position: relative;
  padding-right: 100px;
}

.intro-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 5px;
  background-color: #d97e3f;
}

.intro-content h2,
.intro-content p {
  color: #1b2347;
}

.intro-content h2 {
  font-size: 70px;
  width: 80%;
  margin: 20px 0;
  line-height: 80%;
}

.intro-content p {
  font-size: 20px;
}

.intro-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.quoteimagewrapper {
  padding-top: 100px;
}

.quote {
  position: relative;
  padding: 15px 0;
}

.quote::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 5px;
  background-color: #d97e3f;
}

.quote h2 {
  color: #1b2347;
  font-size: 70px;
  line-height: 80%;
  width: 60%;
}

.quoteimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ourstorywrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.ourstorywrapper::after {
  content: "";
  position: absolute;
  left: -10vw;
  top: 0;
  background-color: #f2f2f2;
  height: 100%;
  width: 100vw;
  z-index: -10;
}

.ourstory-maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 50%;
  padding-right: 200px;
}

.ourstory-maininfo::after {
  content: "";
  position: absolute;
  top: -149px;
  left: -10vw;
  width: 60vw;
  height: 150px;
  background-color: #f2f2f2;
}

.ourstory-maininfo h2 {
  font-size: 70px;
  color: #1b2347;
  position: relative;
  padding: 12px 0;
}

.ourstory-maininfo h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 5px;
  background-color: #d97e3f;
}

.ourstory-maininfo .ourstory-info-p {
  margin: 90px 0;
  font-size: 30px;
  color: #1b2347;
}

.ourstory-headh3 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: #1b2347;
  font-style: italic;
}

.ourstory-shortinfo {
  margin-bottom: 60px;
  font-size: 25px;
  color: #1b2347;
}

.ourstory-subinfo {
  width: 50%;
  padding: 150px 0;
}

.ourstory-subinfo p {
  color: #1b2347;
  font-size: 25px;
}

.teammembers-wrapper {
  position: relative;
  padding-bottom: 150px;
}

.teammembers-wrapper::after {
  content: "";
  z-index: 100;
  position: absolute;
  top: -170px;
  left: -10vw;
  width: 60vw;
  height: 170px;
  background-color: white;
}

.teammembers-header {
  position: relative;
  top: -50px;
  margin-bottom: 50px;
  z-index: 110;
}

.teammembers-header h2 {
  font-size: 70px;
  position: relative;
  padding: 15px 0;
}

.teammembers-header h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 5px;
  background-color: #d97e3f;
}

.archiveteammembers-wrapper {
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
  grid-auto-rows: minmax(320px, auto);
  grid-gap: 35px;
}

.teammembers-archive-item {
  background-color: #d6d6d6;
}

.teammembers-itembanner {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.teammembers-itemcontent .teammembers-name {
  color: #1b2347;
  font-size: 21px;
  font-weight: bold;
}

.teammembers-itemcontent {
  padding: 14px 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.teammembers-title {
  color: #d97e3f;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
}

.teammembers-phonenumber,
.teammembers-email {
  color: #1b2347;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  margin: 2px 0;
}

.sendtocontact {
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sendtocontact::after {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0;
  left: -10vw;
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
}

.sendtocontact h2 {
  color: #1b2347;
  font-size: 70px;
}

.sendtocontact p {
  color: #1b2347;
  opacity: 0.7;
  text-align: center;
  width: 50%;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: bold;
}

.std-link {
  color: white;
  max-width: 300px;
  padding: 20px 60px;
  font-size: 15px;
  background-color: #d97e3f;
  text-decoration: none;
}

.footerwrapper {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b2347;
}

.footerwrapper-content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerwrapper-content .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerwrapper-content .socials a {
  text-decoration: none;
  margin: 0 25px;
}

.footerwrapper-content .socials a i {
  color: white;
  font-size: 60px;
}

.footernav {
  width: 40%;
  padding: 20px 0px;
}

.footernav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footernav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footerinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-p {
  opacity: 0.5;
  color: white;
  margin: 0 20px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  .halfdiv {
    width: 70%;
  }
  .startiframe {
    top: 40%;
  }
  .topNav-links ul li {
    margin-left: 40px;
  }
  .topNav-links ul li a {
    font-size: 22px;
  }
  .intro-image {
    height: 500px;
  }
  .quoteimage img {
    max-width: 100%;
  }
  .footernav {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .topHeader {
    text-align: right;
  }
  .burgermenu {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 30px;
  }
  .topNav-links {
    display: none;
  }
  #toggle {
    display: none;
  }
  #toggle:checked + .topNav-links {
    display: block;
  }
  .topNav-links {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
  }
  .topNav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topNav-links ul li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.431);
  }
  .topNav-links ul li a {
    font-size: 20px;
  }
  .halfdiv {
    width: 90%;
  }
  .frontpage-underheader-item {
    width: 31%;
  }
  .smoothtool-quickinfo-item.item-header {
    width: 20%;
  }
  .smoothtool-quickinfo-item {
    width: 34%;
  }
  .frontpage-info-aboutus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-aboutus-row1 {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    padding-right: 0;
  }
  .info-aboutus-row2 {
    width: 100%;
  }
  .numbers-article-item {
    width: 33%;
  }
  .aboutuswrapper {
    width: 90%;
  }
  .aboutus-h1 {
    font-size: 50px;
    width: 100%;
  }
  .aboutus-intro-wrapper {
    padding: 50px 0;
  }
  .aboutus-intro-wrapper .intro-content {
    width: 100%;
  }
  .intro-content::after {
    width: 15%;
  }
  .intro-image {
    display: none;
  }
  .ourstorywrapper {
    top: -10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quote h2 {
    width: 100%;
  }
  .ourstory-maininfo::after {
    display: none;
  }
  .ourstory-maininfo {
    width: 100%;
    padding-right: 0;
  }
  .ourstory-subinfo {
    width: 100%;
    padding: 0;
  }
  .teammembers-wrapper::after {
    display: none;
  }
  .teammembers-header {
    top: 20px;
  }
  .sendtocontact {
    text-align: center;
  }
  .sendtocontact::after,
  .ourstorywrapper::after {
    left: -5vw;
  }
  .archive-Item.cases-Item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cases-banner {
    width: 100%;
    height: 300px;
  }
  .cases-content {
    width: 100%;
  }
  .footernav {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .footernav {
    display: none;
  }
  .socials {
    margin-bottom: 20px;
  }
  .topHeader {
    padding: 0 5%;
  }
  .burgermenu {
    right: 5%;
  }
  .banner-innerwrapper {
    width: 90%;
  }
  .innerbanner-text {
    display: none;
  }
  .frontbanner-wrapper {
    height: 70vh;
  }
  .innerfrontbanner-wrapper {
    width: 90%;
  }
  .innerbanner-header {
    width: 100%;
    margin: 0;
  }
  .innerbanner-header h1 {
    font-size: 55px;
  }
  .innerbanner-header h2 {
    font-size: 35px;
  }
  .frontpage-underheader-wrapper {
    top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .frontpage-underheader-item {
    width: 100%;
  }
  .underheader-item-banner {
    height: 300px;
  }
  .smoothtool-quickinfo-wrapper {
    display: none;
  }
  .smoothtool-maincontent {
    padding: 70px 5%;
  }
  .smoothtool-process-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .smoothtool-process-item {
    width: 100%;
    padding-bottom: 70px;
    margin-bottom: 40px;
  }
  .arrowright-wrapper {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
  }
  .arrowright-wrapper i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .frontpage-info-aboutus {
    width: 90%;
  }
  .section-numbers {
    width: 90%;
  }
  .section-partners-wrapper {
    width: 90%;
  }
  .banner-innerwrapper {
    width: 90%;
  }
  .archive-itemwrapper {
    width: 90%;
  }
  .archive-navigate-nextpage {
    width: 90%;
  }
  .banner-innerwrapper .newsbanner-h1 {
    width: 100%;
  }
  .banner-innerwrapper .newsbanner-p {
    width: 90%;
  }
  .footerwrapper-content {
    width: 90%;
  }
  .distributors-wrapper {
    width: 100%;
    padding-top: 110px;
  }
  .content_distributors h2:first-of-type,
  .content_distributors h3 {
    display: none;
  }
  #wpsl-search-wrap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wpsl-search-wrap .customdisplay {
    padding: 0;
  }
  #wpsl-search-wrap .customdisplay div {
    margin: 10px 0;
    padding: 0;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap #wpsl-radius,
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap #wpsl-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: centeR;
        -ms-flex-align: centeR;
            align-items: centeR;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #wpsl-stores.custom-stores {
    max-height: 1000px !important;
  }
  .customlayout_ul {
    padding: 20px 5% !important;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    grid-auto-rows: minmax(auto, auto) !important;
    grid-gap: 0px !important;
  }
  .wpsl-store-location {
    font-size: 13px !important;
  }
  .contact-wrapper {
    width: 90%;
  }
  h2.contactinfo {
    width: 75%;
    font-size: 35px;
  }
  .aboutuswrapper {
    width: 90%;
  }
  .archive-cases-banner {
    height: 350px;
  }
  .single-banner {
    height: 250px;
  }
  .singlepage-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  .singlepage-maincontent {
    border-right: 0px;
    padding: 0;
  }
  .singlepage-maincontent h1 {
    word-break: break-all;
  }
  .aside-subscribenews {
    width: 90%;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .contact-wrapper {
    padding: 50px 0;
  }
  .contact-info {
    display: none;
  }
  .contact-form {
    width: 100%;
  }
  .newsbanner-h1 {
    font-size: 35px;
  }
  .banner-innercontact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-innercontact div {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 600px) {
  .topNav-links ul li {
    padding: 5px 0;
  }
  .banner-bannerwrapper {
    height: 250px;
  }
  .banner-innerwrapper .newsbanner-h1 {
    font-size: 30px;
  }
  .banner-innerwrapper .newsbanner-p {
    width: 100%;
    font-size: 20px;
  }
  .archive-itemwrapper.archive-news {
    -ms-grid-columns: (minmax(100%, 2fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    grid-gap: 45px;
  }
  .archive-item-header {
    font-size: 16px;
  }
  .archive-itemcontent {
    font-size: 16px;
  }
  .archive-item-link {
    font-size: 16px;
  }
  .archive-itembanner {
    height: 150px;
  }
  .custombg {
    position: relative;
    width: 100%;
    height: auto;
  }
  .customcanvas-header h2 {
    display: block !important;
  }
  .customcanvas {
    width: 100% !important;
  }
  #wpsl-search-wrap .customdisplay .wpsl-select-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .customlayout_ul {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
  .contact-banner .newsbanner-p {
    font-size: 16px;
  }
  .contact-banner .banner-innercontact {
    margin: 0;
  }
  .contact-banner .banner-innercontact div i,
  .contact-banner .banner-innercontact div p {
    font-size: 16px;
  }
  .aboutuswrapper h2 {
    font-size: 50px;
  }
  .banner-innerwrapper .aboutus-h1 {
    font-size: 30px;
    width: 100%;
  }
  .intro-content h2 {
    width: 100%;
  }
  .sendtocontact h2 {
    font-size: 25px;
  }
  .sendtocontact p {
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .sendtocontact .std-button {
    margin-top: 0;
  }
  .singlepage-maincontent h1 {
    font-size: 30px;
  }
  .footerwrapper-content {
    width: 100%;
  }
  .socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .socials a {
    margin: 0 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .contact-banner .newsbanner-p {
    display: none;
  }
  .std-button {
    padding: 15px 40px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */