.main-wrapper {
  max-width: 100%;
  width: 100%;
}
.aboutuswrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}
.aboutus-intro-wrapper {
  display: flex;
  padding: 150px 0;
}
.aboutus-intro-wrapper article {
  width: 50%;
}
.intro-content {
  padding: 5px 0;
  position: relative;
  padding-right: 100px;
}
.intro-content::after {
  content: "";

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 5px;
  background-color: #d97e3f;
}
.intro-content h2,
.intro-content p {
  color: #1b2347;
}
.intro-content h2 {
  width: 80%;
  margin: 20px 0;
  line-height: 80%;
}
.intro-image-wrapper {
  min-height: 500px;
  padding-top: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
// Second section - quote and image
.quoteimagewrapper {
  padding-top: 100px;
}
.quote {
  position: relative;
  padding: 15px 0;
}
.quote::after {
  content: "";

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 5px;
  background-color: #d97e3f;
}
.quote h2 {
  color: #1b2347;
  line-height: 80%;
  width: 60%;
}
.quoteimage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.secondsection-image {
  padding-top: 70px;
  padding-right: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// our story
.ourstorywrapper {
  position: relative;
  display: flex;
  z-index: 100;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}
.ourstorywrapper::after {
  content: "";
  position: absolute;
  left: -10vw;
  top: 0;
  background-color: #f2f2f2;
  height: 100%;
  width: 100vw;
  z-index: -10;
}
.ourstory-maininfo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  padding-right: 200px;
}
.ourstory-maininfo::after {
  content: "";
  position: absolute;
  top: -149px;
  left: -10vw;
  width: 60vw;
  height: 150px;
  background-color: #f2f2f2;
}
.ourstory-maininfo h2 {
  color: #1b2347;
  position: relative;
  padding: 12px 0;
}
.ourstory-maininfo h2::after {
  content: "";

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 5px;
  background-color: #d97e3f;
}
.ourstory-maininfo .ourstory-info-p {
  margin: 40px 0;
  color: #1b2347;
}
.ourstory-headh3 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: #1b2347;
  font-style: italic;
}
.ourstory-shortinfo {
  margin-bottom: 60px;
  font-size: 25px;
  color: #1b2347;
}
.ourstory-subinfo {
  width: 50%;
  padding: 120px 0;
}
.ourstory-subinfo p {
  color: #1b2347;
}
// Teammembers
.teammembers-wrapper {
  position: relative;
  padding-bottom: 150px;
}
.teammembers-wrapper::after {
  content: "";
  z-index: 100;
  position: absolute;
  top: -170px;
  left: -10vw;
  width: 60vw;
  height: 170px;
  background-color: white;
}
.teammembers-header {
  position: relative;
  top: -50px;
  margin-bottom: 50px;
  z-index: 110;
}
.teammembers-header h2 {
  position: relative;
  padding: 15px 0;
}
.teammembers-header h2::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 5px;
  background-color: #d97e3f;
}
.archiveteammembers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
  grid-auto-rows: minmax(320px, auto);
  grid-gap: 35px;
}
.teammembers-archive-item {
  background-color: #d6d6d6;
}
.teammembers-itembanner {
  height: 350px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
.teammembers-itemcontent .teammembers-name {
  color: #1b2347;
  font-size: 21px;
  font-weight: bold;
}
.teammembers-itemcontent {
  padding: 14px 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.teammembers-title {
  color: #d97e3f;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
}
.teammembers-phonenumber,
.teammembers-email {
  color: #1b2347;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  margin: 2px 0;
}
.sendtocontact {
  padding: 85px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sendtocontact::after {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0;
  left: -10vw;
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
}
.sendtocontact h2 {
  color: #1b2347;
}
.sendtocontact p {
  color: #1b2347;
  opacity: 0.7;
  text-align: center;
  width: 50%;
  font-weight: bold;
}
.std-link {
  color: white;
  max-width: 300px;
  padding: 20px 60px;
  font-size: 15px;
  background-color: #d97e3f;
  text-decoration: none;
}
