// Cases
.archive-cases {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 150px;
}
.cases-Item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cases-banner {
  width: 49%;
  height: 400px;
}
.cases-content {
  padding: 5px;
  width: 49%;
  background: none;
  word-break: normal;
}
.cases-content h3.archive-item-header {
  color: #1b2347;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}
.casebreaker {
  width: 80%;
  margin: 75px auto;
  height: 1px;
  background-color: #1b234777;
}
