// Cases
.archive-cases {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, auto));
  grid-gap: 100px;
}
.cases-Item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cases-banner {
  width: 49%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cases-content {
  padding: 5px;
  width: 49%;
  background: none;
  word-break: normal;
  overflow: visible;
  height: max-content;
}
.cases-content h3.archive-item-header {
  color: #1b2347;
  margin: 0;
  margin-bottom: 10px;
}
.casebreaker {
  width: 80%;
  margin: 75px auto;
  height: 1px;
  background-color: #1b234777;
}
