.archive-itemwrapper {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
  grid-auto-rows: minmax(350px, auto);
  grid-gap: 75px;
}
.archive-itembanner {
  height: 215px;
  background-position: center;
  background-size: cover;
}
.archive-itemcontent {
  padding: 25px;
  background-color: #f7f7f7;
}
.archive-itemcontent .archive-item-header {
  font-size: 25px;
  font-style: italic;
  margin: 10px 0px;
}
.archive-item-link {
  color: #d97e3f;
  font-size: 25px;
  font-weight: bold;
}
.archive-item-permalink {
  margin: 30px 0px;
}
.archive-navigate-nextpage {
  height: 300px;
}
