// Distributors
.distributors-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.content_distributors h2 {
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}
.content_distributors h3 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}
// Selve appen
.wps1-search {
  background: #1b2347;
}
