// Distributors
.distributors-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.content_distributors h2 {
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}
.content_distributors h3 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #1b2347;
  margin-bottom: 20px;
}
// Selve appen
// Nogen af styles skal være med !important
.custombg {
  background: #1b2347 !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  height: 500px;
  width: 30%;
  margin: 0;
}
#wpsl-search-wrap .customdisplay {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 15px 15px;
}
.customcanvas {
  width: 70% !important;
}
.customcanvas-header h2 {
  color: white;
  margin-bottom: 10px;
}
.customlayout_ul {
  display: flex;
}
.customlayout_ul li {
  margin-right: 140px;
}
.customlayout_ul li p {
  color: #1b2347;
}
#wpsl-search-btn.custombtn {
  padding: 15px 80px;
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: 0.5s all;
}
#wpsl-search-btn.custombtn:hover {
  padding: 15px 80px;
  background: #d97e3f;
  color: #1b2347;
  border: 1px solid white;
  transition: 0.5s all;
}
