// modal
.modalvideo-wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding: 50px 50px;
  transition: 0.5s all;
  background-color: rgba(51, 51, 51, 0.698);
}
.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all;
}
.modalcontent-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1b2347;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.modaliframe {
  width: 100%;
  height: 100%;
}
.modaliframe.stop {
  display: none;
}
.closemodal {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}
// More frontpage
.frontbanner-wrapper {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.videowrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.videowrapper.filterblue {
  background-color: #1b2347;
}
.videowrapper video {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}
.innerfrontbanner-wrapper {
  z-index: 100;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 15% 0;
  position: relative;
}
.halfdiv {
  width: 50%;
}
.startiframe {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.startiframe i {
  font-size: 120px;
  color: white;
}
.innerbanner-header {
  position: relative;
  padding: 10px 0;
  margin-bottom: 20px;
}
.innerbanner-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #d97e3f;
}
.innerbanner-header h1 {
  color: white;
}
.innerbanner-header h2 {
  color: white;
  font-size: 50px;
}
.innerbanner-text {
  display: flex;
  z-index: 100;
}
.innerbanner-text p {
  padding-right: 70px;
  font-size: 25px;
  color: white;
}
// Frontpage-underheader section
.frontpage-underheader-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -100px;
  display: flex;
  justify-content: space-between;
}
.frontpage-underheader-item {
  width: 28%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.underheader-item-banner {
  width: 100%;
  height: 200px;
  background-color: #1b2347;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.underheader-item-content {
  padding: 25px 25px;
}
.underheader-item-content p strong,
.underheader-item-content h3 {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 10px;
}
.underheader-item-content p {
  font-size: 25px;
}
.underheader-item-content a {
  color: #d97e3f;
  text-decoration: none;
}
// Breaker section
.section-breaker {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.thebreaker {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #707070;
  border-radius: 15px;
  opacity: 0.3;
}
// Section quickinfo
.smoothtool-quickinfo-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.smoothtool-quickinfo-item {
  width: 28%;
}
.smoothtool-quickinfo-item h3 {
  font-size: 30px;
  font-weight: 300;
}
.item-header {
  padding: 10px 0;
  position: relative;
}
.item-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #d97e3f;
}
// Smoothtool maincontent
.smoothtool-maincontent {
  width: 100%;
  padding: 70px 10%;
  margin: 0 auto;
  background-color: #1b2347;
}
.smoothtool-maincontent-banner {
  height: 255px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  background-image: url("http://localhost/wordpress/wp-content/uploads/2019/11/dots1x.png");
  background-size: cover;
}
.maincontent-banner-header {
  position: relative;
  padding: 10px 0;
}
.maincontent-banner-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 3px;
  background-color: #d97e3f;
}
.maincontent-banner-header h2 {
  color: white;
}
.smoothtool-process-wrapper {
  display: flex;
  justify-content: space-between;
}
.smoothtool-process-item {
  position: relative;
  width: 18%;
  color: white;
}
.smoothtool-process-item p strong {
  font-size: 35px;
}
.arrowright-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.arrowright-wrapper i {
  font-size: 40px;
  color: #d97e3f;
}
.arrowright-wrapper.last i {
  display: none;
}
// Info about us
.frontpage-info-aboutus {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}
.info-aboutus-row1 {
  padding: 10px 0;
  padding-right: 80px;
  width: 30%;
  position: relative;
}
.info-aboutus-row1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 3px;
  background-color: #d97e3f;
}
.info-aboutus-row2 {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.info-aboutus-item {
  width: 50%;
  margin-bottom: 80px;
  padding-right: 40px;
  padding-left: 50px;
  position: relative;
}
.info-aboutus-item h3 {
  font-size: 35px;
  margin-bottom: 10px;
}
.info-aboutus-circle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #1b2347;
  border-radius: 50%;
}
// Section numbers
.section-numbers {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.numbers-article-item {
  width: 28%;
  height: 280px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
// Section 2 break
.section-breaker.second {
  padding: 100px 0;
}
// Partners
.section-partners-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 10px;
  position: relative;
}
.section-partners-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 3px;
  background-color: #d97e3f;
}
.partners-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
