.topHeader {
  width: 80%;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgermenu {
  display: none;
}
#toggle {
  display: none;
}
.topNav-links ul {
  list-style: none;
  display: flex;
}
.topNav-logo {
  height: 110px;
}
.topNav-logo img {
  height: 100%;
  max-width: 100%;
}
.topNav-links ul li {
  margin-left: 61px;
}
.topNav-links ul li a {
  padding: 1px 0;
  text-decoration: none;
  position: relative;
}
.topNav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 2px;
  left: 0;
  background-color: #d97e3f;
  transition: all ease-in-out 0.4s;
}
.topNav-links ul li a:hover::after {
  width: 100%;
  transition: all ease-in-out 0.2s;
}
