// single pages

.singlepage-wrapper {
  position: relative;
  width: 80%;
  top: 110px;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  padding-bottom: 200px;
}
.singlepage-maincontent {
  flex: 3;
  border-right: 1px solid rgb(194, 194, 194);
  padding-right: 50px;
  padding-top: 70px;
}
.singlepage-maincontent p {
  color: #1b2347;
  font-size: 20px;
}
.singlepage-maincontent h1 {
  color: #1b2347;
  position: relative;
  margin-bottom: 30px;
}
.singlepage-maincontent h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 3px;
  background-color: #d97e3f;
}
.singlepage-aside {
  flex: 2;
  padding-top: 70px;
}
// Socials
.aside-socials {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
  border-top: 1px solid #1b2347;
  border-bottom: 1px solid #1b2347;
  display: flex;
  justify-content: space-around;
}
.aside-socials a {
  text-decoration: none;
  font-size: 70px;
}
.aside-socials a i {
  text-decoration: none;
  color: #1b2347;
}
// Subscribe to newsletter
.aside-subscribenews {
  width: 80%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.aside-subscribenews h2 {
  font-size: 50px;
  color: #1b2347;
  margin-bottom: 20px;
}
.aside-subscribenews label,
.aside-subscribenews input::placeholder,
.aside-subscribenews input {
  font-size: 25px;
  color: #1b2347;
}
.aside-subscribenews input {
  padding: 5px 5px;
  border-radius: 9px;
  background: transparent;
  border: 1px solid #1b2347;
  margin: 10px 0;
}
