// Skill section scss
.skillsSection-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.skillsSection-wrapper article {
  width: 50%;
}
.skills-article1 {
  padding-right: 80px;
}
.skills-article2 p {
  text-align: justify;
}
